<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Witaj</title>
    <link rel="stylesheet" href="/adminpanel/public/build/assets/app-CSbnctrk.css">
</head>
<body>
    <h1>Witaj {{ name }}!</h1>

    <div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-white p-6 rounded shadow">Panel 1</div>
    <div class="bg-white p-6 rounded shadow">Panel 2</div>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 bg-gray-100 p-4">
  <div class="bg-white p-4 shadow rounded">Panel 1</div>
  <div class="bg-white p-4 shadow rounded">Panel 2</div>
</div>
</body>
</html>
